body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#141313;
    background-color: 
    color: #fff;
}
.nav-drawer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color:#333;
    color: #fff;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.toggle-button, .notification-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.company-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.search-input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.profile-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-pane {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #dad1d1;
}

.section {
    margin-bottom: 20px;
}

.section-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.section-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.right-pane {
    width: 80%;
    padding: 20px;
}

.tags {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.tag {
    padding: 8px 15px;
    background-color: #333;
    border-radius: 20px;
    cursor: pointer;
}

.video-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Additional styling and media queries can be added for responsiveness */
/* Your existing styles ... */

.video-card {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.duration-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.video-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.creator-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    flex: 1;
    font-weight: bold;
}

.channel-name {
    margin-topp: 5px;
    color: #fff;
}

.details {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}


